{% extends 'base.html' %}
{%load static%}
<script type="text/javascript" src="{% static 'css/base.css' %}/static/js/getparam.js"></script>
{% block content %}

    <!-- 기존의 main 컨텐츠 -->
    <div id="main-content" class="content">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img class="slide-image" src="{%load static 'image/img1.jpg' %}" style="width:100%; margin: 0 auto; display:block;">
                <div class="slide-text">Art of the Future, Touched by Artificial Intelligence</div>
            </div>
            <div class="mySlides fade">
                <img class="slide-image"src="{%load static 'image/img2.jpg' %}" style="width:100%; margin: 0 auto; display:block;">
                <div class="slide-text">A New Horizon of Art, Painted with the Brush of Artificial Intelligence</div>
            </div>
        </div>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>


{% endblock %}

